* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#box {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 1000px;
  height: 1000px;
  background-color: black;
}

#box1 {
  width: 100px;
  height: 100px;
  background-color: #ff0037;
}

h1 {
  padding: 24px;
  font-size: 16px;
}

#box2 {
  width: 150px;
  height: 150px;
  background-color: rgb(247, 8, 215);
}

h2 {
  padding: 24px;
  font-size: 16px;
}

#box3 {
  width: 100px;
  height: 100px;
  background-color: rgb(255, 136, 0);
}

h3 {
  padding: 24px;
  font-size: 16px;
}
